*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-family: 'Lato','Arial',sans-serif;
    font-weight: 300;
   
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.699),rgba(0, 0, 0, 0.7)), url(img/head.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    font-size: 20px;
}
.head{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.head h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 200%;
    text-transform: uppercase;
    font-weight: 300;
}
.head a {
    text-decoration: none;
}
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 200px;
    text-decoration: none;
}
.about-btn:link,
.about-btn:visited{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}
.contact-btn:link,
.contact-btn:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}
.btn:hover{
    background-color: #a7540b;
}
.about-btn:hover,
.about-btn:active{
    border: 1px solid #e67e22;
}
.contact-btn:hover,
.contact-btn:active{
    border: 1px solid #e67e22;
    color: #fff;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}
.logo{
    margin-left: 75px;
    letter-spacing: 3px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-right: 80px;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: bold;

}
.nav-links a:hover{
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}
/* about section */
.about-container{
    display: grid;
    grid-template-columns: 500px auto;
    grid-gap: 30px 50px;
    justify-content: center;
    height: 500px;
    margin-top: 100px;
    font-size: 20px;
}
.about-container img{
    height: 400px;
}
.about-container hr{
    border: 2px solid #e67e22;
    width: 65px;
    margin-bottom: 10px;
}
.about-container p{
    color: rgb(95, 83, 83);
    font-size: 18px;
}

/* services section */

.service-container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 50px 100px;
    justify-content: center;
    height: 500px;
    font-size: 17px;
    padding-top: 70px;
    margin-bottom: 40px;
}
.service-container img{
    width: 60px;
    height: 70px;
    
}
.services{
    background-color: #DCDCDC;
}
.services h3{
    text-align: center;
    padding-top: 30px;
    text-decoration-line: overline;
    text-decoration-color: #e67e22;
    
}
.services h4{
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.services p{
    font-size: 15px;
    color: rgb(95, 83, 83);
}

/* ------------work section ---------- */
.work-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0px;
}
.work-container img{
    max-width: 100%;
    height: auto;
    
}
.work h3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    text-decoration-line: overline;
    text-decoration-color: #e67e22;
}

/* ---------contact section--------- */
.contact-container{
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    grid-column-gap: 90px;
}
.contact-container img{
    width: 450px;
    height: 500px;
}
.contact-container form{
    width: 450px;
    height: 500px;
    margin-top: 90px;
}

.contact-form-title{
    font-size: 24px;
    text-align: center;
    margin-bottom: 44px;
    color: #e67e22;
}
.name-input{
    border-radius: 25px;
}

/* ---footer section--- */

.footer-container{
    display: grid;
    grid-template-columns: 280px 70px 200px;
    justify-content: space-around;
    grid-gap: 0px 0px;
    background-color: black;
    color: white;
    height: 400px;
    padding-top: 100px;
    
}